<div class = "ui one column stackable center aligned page grid">
	<div class = "column twelve wide">
		<div class = "ui twitter button">
			<i class = "twitter icon"></i>
			<a href = "/auth/twitter" style = "color: white;">Login with Twitter</a>
		</div>
	</div>
</div>